@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    font-size: 22px;
    overflow-x: hidden;
    color: #00b894;
    font-family: 'Flamenco', cursive;
}

header{
    background-image: url('img/drepung.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.logo{
    height: 150px;
    width: auto;
    float: left;
    margin: 70px;
    margin-top: 5px;
}

ul{
    margin: 450px;
    padding: 0;
    display: flex;
    margin-top: 0px;
}

ul li{
    list-style: none;
    margin: 40px -3px;
    padding: 27px;
    transition: 0.5s;
}

ul li a{
    display: block;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    color: whitesmoke;
    text-transform: uppercase;
    transition: 0.5s;
}

ul:hover li a{
    transform: scale(1.5);
    opacity: .2;
    filter: blur(5px);
}

ul li a:hover{
    transform: scale(2);
    opacity: 1;
    filter: blur(0);
}

ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: aqua;
    transition: transform 0.5s;
    transform-origin: right;
    transform: scaleX(0);
    z-index: -1;
}

ul li a:hover:before{
    transition: transform 0.5s;
    transform-origin: left;
    transform: scaleX(1);
}

.content{
    position: absolute;
    background: rgba(44,62,80,0.7);
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 350px;
    width: 100%;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
}


.content h2{
    text-align-last: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: aqua;
}

.content [type=text]{
    width: 285px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid aqua;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}


.content input[type=password]{
    width: 285px;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid aqua;
    font-family: 'Play', sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition: border 0.5s;
    outline: none;
    color: #fff;
}

.content input[type=submit]{
    border: none;
    background: #00b894;
    line-height: 2em;
    border-radius: 8px;
    font-size: 21px;
    color: #fff;
    cursor: pointer;
    position: absolute;
    bottom: 70px;
    width: 300px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    text-decoration: none;
    text-align: center;
    left: 7%;
}

.content input[type=submit]:hover
{
    color: #fff;
    background-color: aqua;
}

a{
    color: aqua;
    text-decoration: blink;
}

a:hover{
    color: wheat;
}

::placeholder{
    color: aliceblue;
    opacity: 0.8;
}

footer{
    background-color: #fff;
    color: #00b894;
    font-size:25px;
}